<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PayPalAPISoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PayPalAPIAASoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PayPalAPISoapBinding1" />
                <binding name="PayPalAPIAASoapBinding1" />
                <binding name="WS_InvocationBinding" />
                <binding name="PaymentWSSoap" />
                <binding name="CreateOrderWSPortBinding" />
                <binding name="ProductAvailabilityWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.sandbox.paypal.com/2.0/" binding="basicHttpBinding"
                bindingConfiguration="PayPalAPISoapBinding" contract="paypal.PayPalAPIInterface"
                name="PayPalAPI" />
            <endpoint address="https://api-aa.sandbox.paypal.com/2.0/" binding="basicHttpBinding"
                bindingConfiguration="PayPalAPIAASoapBinding" contract="paypal.PayPalAPIAAInterface"
                name="PayPalAPIAA" />
            <endpoint address="http://localhost:8080/ode/processes/WS_Invocation"
                binding="basicHttpBinding" bindingConfiguration="WS_InvocationBinding"
                contract="BPEL.WS_Invocation" name="WS_InvocationPort" />
            <endpoint address="http://localhost:50480/ws/PaymentWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="PaymentWSSoap"
                contract="BPEL.PaymentWSSoap" name="PaymentWSSoap" />
            <endpoint address="http://156.35.98.14:8086/UniSell.BPEL.CreateOrder/createorder"
                binding="basicHttpBinding" bindingConfiguration="CreateOrderWSPortBinding"
                contract="BPEL.ICreateOrderWS" name="CreateOrderWSPort" />
            <endpoint address="http://156.35.98.14:8086/UniSell.BPEL.ProductAvailability/productavailability"
                binding="basicHttpBinding" bindingConfiguration="ProductAvailabilityWSPortBinding"
                contract="BPEL.IProductAvailabilityWS" name="ProductAvailabilityWSPort" />
        </client>
    </system.serviceModel>
</configuration>