<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserWSPortBinding" />
                <binding name="UserAdminWSPortBinding" />
                <binding name="UserSellerWSPortBinding" />
                <binding name="CompanyWSPortBinding" />
                <binding name="CategoryWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://156.35.98.14:8086/Unisell.Java.UserManagement/usermanagement"
                binding="basicHttpBinding" bindingConfiguration="UserWSPortBinding"
                contract="UniSellWS.IUserWS" name="UserWSPort" />
            <endpoint address="http://156.35.98.14:8086/Unisell.Java.UserManagement/adminmanagement"
                binding="basicHttpBinding" bindingConfiguration="UserAdminWSPortBinding"
                contract="UniSellAdminWS.IUserAdminWS" name="UserAdminWSPort" />
            <endpoint address="http://156.35.98.14:8086/Unisell.Java.UserManagement/sellermanagement"
                binding="basicHttpBinding" bindingConfiguration="UserSellerWSPortBinding"
                contract="UniSellSellerWS.IUserSellerWS" name="UserSellerWSPort" />
            <endpoint address="http://156.35.98.14:8086/Unisell.Java.UserManagement/companymanagement"
                binding="basicHttpBinding" bindingConfiguration="CompanyWSPortBinding"
                contract="UniSellCompanyWS.ICompanyWS" name="CompanyWSPort" />
            <endpoint address="http://localhost:8086/Unisell.Java.UserManagement/categorymanagement"
                binding="basicHttpBinding" bindingConfiguration="CategoryWSPortBinding"
                contract="UniSellCategoryWS.ICategoryWS" name="CategoryWSPort" />
        </client>
    </system.serviceModel>
</configuration>