<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CategoryWSPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CategoryWSPortBinding1" />
                <binding name="UserSellerWSPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="UserSellerWSPortBinding1" />
                <binding name="UserAdminWSPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="UserAdminWSPortBinding1" />
                <binding name="CompanyWSPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CompanyWSPortBinding1" />
                <binding name="UserWSPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="UserWSPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://156.35.98.14:8443/Unisell.Java.UserManagement/adminmanagement"
                binding="basicHttpBinding" bindingConfiguration="UserAdminWSPortBinding"
                contract="AdminWS.IUserAdminWS" name="UserAdminWSPort" />
            <endpoint address="https://156.35.98.14:8443/Unisell.Java.UserManagement/categorymanagement"
                binding="basicHttpBinding" bindingConfiguration="CategoryWSPortBinding"
                contract="CategoryWS.ICategoryWS" name="CategoryWSPort" />
            <endpoint address="https://156.35.98.14:8443/Unisell.Java.UserManagement/companymanagement"
                binding="basicHttpBinding" bindingConfiguration="CompanyWSPortBinding"
                contract="CompanyWS.ICompanyWS" name="CompanyWSPort" />
            <endpoint address="https://156.35.98.14:8443/Unisell.Java.UserManagement/sellermanagement"
                binding="basicHttpBinding" bindingConfiguration="UserSellerWSPortBinding"
                contract="SellerWS.IUserSellerWS" name="UserSellerWSPort" />
            <endpoint address="https://156.35.98.14:8443/Unisell.Java.UserManagement/usermanagement"
                binding="basicHttpBinding" bindingConfiguration="UserWSPortBinding"
                contract="UserWS.IUserWS" name="UserWSPort" />
        </client>
    </system.serviceModel>
</configuration>