<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://156.35.98.14:8086/Unisell.Java.UserManagement/usermanagement"
                binding="basicHttpBinding" bindingConfiguration="UserWSPortBinding"
                contract="UniSellWS.IUserWS" name="UserWSPort" />
        </client>
    </system.serviceModel>
</configuration>